.Logo {
    width: 6.5cm;
    display: inline;
}

.Header {
    position: fixed;
    background-color: aliceblue;
    height: 99px;
    width: 100%;
    z-index: 3;
}

.Links {
    display: inline;
    float: right;
    margin-top: 35px;
}

.Links a {
    font-size: 0.91rem;
    font-weight: 500;
}

.Links button{
    border-radius: 5px;
    
}
.Titlediv {
    margin-top: 10px;
    padding-top: 30px;
    padding-bottom: 15px;
}
.Title {
    display: inline;
}
.Title2 {
    color:#4F89E8;
    display: inline;
}

.Licence1 {
    width: 300px;
    margin-top: 40px;
}

a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 37px;
    padding-bottom: 30px;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
   
}
.linkon {
    background-color: #5D92E8;
    color: aliceblue;
    padding-top: 40px;
    padding-bottom: 40px;
}
.linkoff {
    background-color: transparent;
    color: #1C76DF;
}
h3 {
    font-size: 27px;
}
h6 {
    font-size: 15px;
    margin: 10px;
  
}
.imgbody {
    margin: 0;
    padding: 0;
    height: 217px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider {
    width: 100vw;
    margin-top: 220px;
    height: 435px;
    overflow: hidden;

  }
  .slides {
      width: 300%;
      height: 500px;
      display: flex;
    
  }
  .slide img {
      width: 100vw;
  }
  .slides input {
      display: none;
  }

  .slide {
      width: 33.33%;
      transition: 2s;
  }
  .slide.first {
      background-attachment: red;
  }

  .navigation-manual {
      position: absolute;
      width: 98vw;
      margin-top: 400px;
      display: flex;
      justify-content: center;

  }
.manual-btn {
    border: 2px solid #52A2FF;
    padding:  5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #52A2FF;
}

#radio1:checked ~ .first {
    margin-left: 0;
} 
#radio2:checked ~ .first {
    margin-left: -33.33%;
}
#radio3:checked ~ .first {
    margin-left: -66.66%;
}
#fradio {
    background-color: #52A2FF;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 98vw;
    justify-content: center;
    margin-top: 400px;
}

.navigation-auto div {
    border: 2px solid #52A2FF ;
    padding: 5px;
    border-radius: 10px;
 

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #52A2FF;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #52A2FF;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #52A2FF;
}


.flex-containerhome {
    display: flex;
    flex-wrap: wrap;
}
.flex1 {
    flex: 1;
    margin-right: 0px;
   
}

.flex1in {
    width: 400px;
    margin-left: 100px;
}

.flex1 h3 {
    font-size: 25px;
    margin-left: 7px;
}

.flex2 {
    width: 600px;
}

.flex2 h3 {
    font-size: 25px;
    margin-left: 7px;
}

.flex2in {
   background-color: aliceblue;
   opacity: 0.7;
   padding-top: 20px;
   padding-bottom: 30px;
   padding-left: 20px;
   border-radius: 200px;
   width: 460px;
}

.flex2 img {
    background-color: #52A2FF;
    color: aliceblue;
    border-radius: 15px;
    width: 64px;
    padding: 5px;
}
.iconI {
    margin-left: 180px;
   
}
.iconH {
    margin-left: 30px;
}
.iconS {
    color: white;
}
.iconN {
    margin-right: 110px;
    margin-left: 90px;
}
.iconT {
    color: white;
}
.Display h3 {
    display: inline;
}
.Display {
    display: inline;
    padding-left: 35px;
    padding-right: 35px;
}

.firsticon {
    display: block;
    margin-bottom: 5vw;
    width:auto;
}
.secondicons {
    margin-bottom: 7vw;
    width:auto;
}
.thirdicons {
    width:auto;
    margin-bottom: 2vw;
}

.Homewelcome {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 230px;
    margin-bottom: 70px;
    
}
.Homewelcome h6 {
    font-weight: 500;
}
.Homewelcome h3 {
    font-weight: 700;
}
.Homeservices {
    height: 85vh;
    text-align: left;
    overflow: hidden;
    
}
.Homeservices h6 {
    font-weight: 500;
}
.Homeservices h3 {
    font-weight: 700;
}
.Homeskillpic {
    width: 100%;
    position: relative;
    float: left;
    margin: -5px -10px -10px -5px;
    filter: blur(16px);
}
.Homeskilltext {
    position: absolute;
    z-index: 2;
    width: 90%;
    left: 70px;
    margin-top: 70px;
}
.Testimonials {
    padding-bottom: 30px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.Testimonials h6 {
    font-weight: 500;
}
.Testimonialtext {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.Quotepic {
    width: 90px;
}
.Fatherof {
    font-weight: 200;
}
button {
    margin-left: 50px;
    margin-right: 80px;
    background-color: #52A2FF;
    color: white;
    border: 3px solid #D9D9D9;
    width: 110px;
    height: 30px;
}
.Pic1 {
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}
.Footer {
    background-color: #5D92E8;
    padding-top: 10px;
}
.Footer img {
    width: 230px;
}
.Flex-containerfooter {
    display: flex;
}
.Flexfooter1 {
    flex: 1;
}
.Flexfooter2 {
    flex: 1;
}
.Footerbutton {
    margin: 0;
    margin-top: 7px;
    margin-left: 5px;

}
.Footer a {
    padding: 7px;
    color: aliceblue;
    display: block;
    font-weight: 600;
    text-decoration: none;
}
.footerh3 {
    font-size: 15px;
    color: aliceblue;
    font-weight: 500;
    margin-left: 70px;
}
.Licence {
    text-align: center;
    background-color: #4F89E8;
    width: 100%;
    height: 50px;
    margin: 0;
    padding-bottom: 10px;
}
.Licence h6 {
    padding-top: 15px;
    font-weight: 600;
    color: aliceblue;
}
.Copyright {
    text-align: center;
    background-color: #F1F7FF;
    width: 100%;
    height: 50px;
    margin: 0;
}
.Copyright h6 {
    padding-top: 15px;
    margin: 0;
    font-weight: 500;
    color: #2169bb;
}
/*  */

  
  .image {
    width: 100%;
  }
  
  .right-arrow {
    position: absolute;
    top: 300px;
    right: 32px;
    font-size: 3rem;
    color: #5D92E8;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 300px;
    left: 32px;
    font-size: 3rem;
    color: #5D92E8;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  /* .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  } */

  .Aboutpic img {
      width: 100%;
  }
  .About {
      width: 80vw;
      margin-left: 10vw;
      height: auto;
      padding-bottom: 30px;
      background-color: white;
      margin-bottom: 40px;
      box-shadow: 0 0 10px rgba(0,0,0,.09), 2px 2px 5px rgba(0,0,0,.1);
  }

  .Abouttext {
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 140px;
  }

  .Abouttext h3 {
      color: #4F89E8;
      font-weight: 700;
      margin-bottom: 30px;
      margin-top: 70px;
  }

  .Abouttext h6 {
      color: #1656a0;
      font-weight: 500;
  }

  .Servicespic img {
    width: 100%;
}

.Services {
    width: 80vw;
    margin-left: 10vw;
    height: auto;
    padding-bottom: 40px;
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 0 0 5px rgba(0,0,0,.09), 2px 2px 5px rgba(0,0,0,.1);
}

.Servicestext {
    margin-left: 5%;
    margin-right: 5%;
}
.Servicestitle {
    text-align: center;
}

.Servicestext h3 {
    color: #4F89E8;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 70px;
}

.Servicestext h4 {
    color: #4F89E8;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 70px;
    font-size: large;
}

.Servicestext li {
    color: #1656a0;
    font-weight: 500;
    width: 90%;
    list-style-type: circle;
}

.Homeservices1 {
    width: 50%;
    display: inline-table;
}

.Homeservices2 {
    width: 50%;
    display: inline-table;
}

.Payment {
    width: 50%;
    display: inline-table;
}

.Agegroup {
    width: 50%;
    display: inline-table;
}

.Contactpic {
    overflow: hidden;
}

.Contactpic img {
    width: 100%;
    opacity: 0.8;
    filter: blur(3px);
    margin: -5px -10px -10px 0px;

}
.Contact {
    width: 80vw;
    margin-left: 10vw;
    height: auto;
    padding-bottom: 200px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.09), 2px 2px 5px rgba(0,0,0,.1);
}

.Contacttext {
    margin-left: 5%;
    margin-right: 5%;
    width: 70vw;
    height: auto;
    padding-bottom: 40px;
    display: inline-table;
    background-color: aliceblue;
    border-radius: 20px;

}

.Contacttext h4 {
    color: #4a7ac7;
    font-weight: 600;
}

.Contacttitle {
    text-align: center;
    display: block;
}
.Contacttitle h3 {
    color: #4F89E8;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Contactinput {
    display: inline-table;
    padding: 20px;
    width: 30vw;
    padding-left: 5vw;
    background-color: aliceblue;
    border-radius: 20px;
}
.Divmap {
    display: inline-table;
    width: 30vw;
    height: 30vh;
    background-color: aliceblue;
}


.Location {
    text-align: center;
    padding: 30px;
    height: 150vh;
}

.Location h3 {
    color: #4F89E8;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}

.Locationpics {
    margin-top: 70px;
    text-align: left;
    padding: 50px;
    height: 100vh;
    background-color: white;
    border-radius: 20px;
}

.Location1 {
    width: 100vh;
    height: 900px;
    clear: both;
    display: table;
}

.Locationpic1 {
    width: 38%;
    float: left;

}

.Locationtext1 {
    width: 60%;
    height: 400px;
    float: left;
    
}

.Location2 {
  width: 100vh;
  display: table;
  clear: both;
}

.Locationpic2 {
    width: 38%;
    float: left;

}

.Locationtext2 {
    width: 60%;
    height: 400px;
    float: left;

}



.Locationtext1 h6 {
    display: block;
    width: 30vw;
    color: #1656a0;
    font-size: medium;
    font-weight: 500;
}
.Locationtext2 h6 {
    display: block;
    width: 30vw;
    color: #1656a0;
    font-weight: 500;
    font-size: medium;
}
.Locationpics img {
    width: 400px;
    margin-bottom: 50px;
    border: solid 10px #b4d0f0;
    border-radius: 20px;
    
}

