body {
  margin: 0;
  font-family: 'IBM Plex Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F1F7FF;
}

code {
  font-family: 'IBM Plex Sans', sans-serif;
}
